[submodule "app/jni/src/facesmash-sources"]
	path = app/jni/src/facesmash-sources
	url = git@github.com:skypjack/facesmash-sources.git
[submodule "app/jni/src/entt"]
	path = app/jni/src/entt
	url = git@github.com:skypjack/entt.git
[submodule "app/src/main/assets"]
	path = app/src/main/assets
	url = git@github.com:skypjack/facesmash-assets.git
